registry=http://registry.npmjs.org/
@propel:registry=https://propelrepo.com:443/artifactory/api/npm/jumpstart
strict-ssl=false
proxy=http://web-proxy.bbn.hpecorp.net:8080
https-proxy=http://web-proxy.bbn.hpecorp.net:8080
